.toDoapp{
	max-width: 24rem;
	min-height: 15rem;
}
.todoButton{
	border: none;
	border-radius: 5px;
	width: 3rem;
}
.todoInput{
	width: 16rem;
	transition: all .5s ease-in-out
}
.todoForm{
	display: flex;
	flex-direction: row;
	min-width: 20rem;
	width: 20rem;
	align-items: center;
	margin-bottom: 1rem;
}
.todoForm input{
	box-shadow: none;
}
.todoForm button{
	box-shadow: none;
}
.complete{
	text-decoration: line-through;
	opacity: .1;
}
.todoRow{
	display: flex;
	max-width: 90%;
	height: auto;
	word-break: break-all;
	background: rgba(0, 0, 0, .2);
	border-radius: 10px;
	padding: 0 5px 0 5px;
	align-items: center;
	justify-content: space-between;
	transition: all .5s ease-in-out;
	margin-bottom: 0.3rem;
}
.icons{
	height: 100%;
	width: 3rem;
	font-size: 1.2rem;
	color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
}